h1,h3 {
    text-align: center;
}

h1 {
    background-color: yellow;
}

h2 {
  background-color: lightyellow;
  font-weight: bold;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: large;
}

p{
  font-size: medium;
}

li {
  font-size: medium;
}

a {
    width: auto;
}

div {
    width: 450px;
}

body {
    background-color: lightgray;
}

img {
  width: 449px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}

.container {
    
    margin-left: 250px;
}

.row {

  display: flex;
  margin: 10px;

}

.column {
  flex: 33.33%;
  padding: 5px;
  object-fit: fill;
  content: fill;
  
  
}